// Xcode configuration for GTK headers on macOS
HEADER_SEARCH_PATHS = $(inherited) /opt/homebrew/include/gtk-3.0 /opt/homebrew/include/glib-2.0 /opt/homebrew/lib/glib-2.0/include /opt/homebrew/include/gdk-3.0 /opt/homebrew/include/pango-1.0 /opt/homebrew/include/cairo /opt/homebrew/include/harfbuzz /opt/homebrew/include/gdk-pixbuf-2.0 /opt/homebrew/include/atk-1.0 /opt/homebrew/include/freetype2 /opt/homebrew/include/libpng16 /opt/homebrew/include

SWIFT_INCLUDE_PATHS = $(inherited) /opt/homebrew/include/gtk-3.0 /opt/homebrew/include/glib-2.0 /opt/homebrew/lib/glib-2.0/include /opt/homebrew/include

LIBRARY_SEARCH_PATHS = $(inherited) /opt/homebrew/lib